<header>
    <div class="header">
        <div class="container">
            <h1 class="title">Bolyós Anikó</h1>
        </div>
    </div>

    <nav class="navbar navbar-expand-sm navbar-light my-navbar">
        <div class="container my-navbar-container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ site.t[page.lang].home.url }}">{{ site.t[page.lang].home.name }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.t[page.lang].work.url }}">{{ site.t[page.lang].work.name }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.t[page.lang].blog.url }}">{{ site.t[page.lang].blog.name }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.t[page.lang].podcast.url }}">{{ site.t[page.lang].podcast.name }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.t[page.lang].contact.url }}">{{ site.t[page.lang].contact.name }}</a>
                    </li>
                </ul>
            </div>
            <div class="justify-content-end">
                <ul class="navbar-nav">
                    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                    {% for page in pages %}
                        <li>
                            <a class="nav-link" href="{{ page.url }}"><img id="fb-logo" src="/assets/img/{{ site.t[page.lang].flag }}" /></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>