<header>
    <div class="header">
        <div class="container">
            <h1 class="title">Bolyós Anikó</h1>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light my-navbar">
        <div class="container my-navbar-container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Bemutatkozás</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/work/">Munkám</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog/">Blogom</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/podcast/">Podcastom</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>