---
import { getRelativeLocaleUrl } from "astro:i18n";
import { Image } from "astro:assets";

import Base from "../../layouts/base.astro";
import NormalBlock from "../../components/normal_block.astro";
import Note from "../../components/note.astro";
import Card from "../../components/card.astro";
import EbookBanner from "../../components/ebook_banner.astro";

import colourSession from "../../assets/images/photos/colour_session.jpg";

const link = getRelativeLocaleUrl("hu", "colour-analysis");
const metadata = {
    title: "Színtolmácsolás | Fedezd fel a színek üzenetét!",
    description: "Intuitív színtolmácsolás a lelki egyensúlyért. Tudd meg, milyen üzenetet hordoznak számodra a színek, és hogyan segíthetik utadat!",
    type: "article",
};
---

<Base metadata={metadata}>
    <article>
        <EbookBanner />
        <NormalBlock title="Mi az a színtolmácsolás?" bgClass="bg-pic-umbrellas">
            <p class="mb-3 md:mb-6">Egyszer úgy döntöttem, hogy színt viszek az életembe azáltal, hogy mélyebben megismerkedem
                a színek világával. A sok tanulás, kutatás és tapasztalás során felfedeztem, hogy ez nemcsak engem inspirál, de
                másoknak is segítséget nyújthat. Megtanultam egy módszert, amely segít feltárni, mi zajlik a lelkünkben és milyen
                terheket cipelünk régóta magunkkal. Néha a lelkünk csupán egy megerősítésre vár, hogy kimondjuk végre azt, amit
                talán sejtünk, de még nem vettünk komolyan – noha az érzés már ott motoszkál bennünk, szinte kiáltva. Ebben tudnak
                segíteni a színek.</p>
            <p class="mb-3 md:mb-6">A mindennapokban egyszerűen csak hagyom, hogy a lelkem sugallja, éppen melyik színre van
                szükségem. Úgy érzem, a színekkel is mély kapcsolatot alakíthatunk ki, ha időt szánunk az ismerkedésre. Ha
                valamelyik szín vonz, pedig eddig nem játszott szerepet az életünkben, az gyakran azt jelzi, hogy elérkezett az
                ideje a változásnak: új színt kell adnunk a napjainkhoz. A színek kísérői a fejlődésünknek, ezért érdemes figyelni,
                hogy egyes életszakaszainkban vagy nagyobb változások során melyik szín vonz bennünket. Életünk minden fejezetének
                megvan a maga színvilága, amely elkísér minket a következő szakaszba.</p>
        </NormalBlock>
        <NormalBlock title="És hogyan tudok mindezzel neked segíteni?">
            <p class="mb-3 md:mb-6">Csupán egy könnyed, játékos, mégis intuitív színezésre
                van szükség. Egy saját fejlesztésű webes applikáción keresztül ez távolról is megvalósítható, és az eddigi
                visszajelzések alapján kiválóan működik. Az elkészült színezés alapján személyre szabott színelemzést készítek
                magyar és angol nyelven. Ezt követően egy előre egyeztetett, körülbelül egy-másfél órás találkozón átbeszélhetjük a
                színeid üzenetét, sugallatát, és hogy hol tartasz jelenleg lelkileg, mentálisan, illetve fizikailag. Javaslom, hogy
                a konzultáció alatt jegyzetelj, mert sok információ hangzik el, és nem mindenre fogsz emlékezni. Előfordulhat, hogy
                bizonyos üzenetek csak később nyernek igazán értelmet. Érdemes a jegyzeteidet időről időre újraolvasni, akár hónapok
                múlva is. Az önismeret hosszantartó és kitartást igénylő folyamat.</p>
            <Image class="mb-3 md:mb-6" src={colourSession} alt="" />
            <p class="mb-3 md:mb-6">Az első lépés megtétele mindig nehéz, de ha időt és energiát szánunk magunkra, csodákra vagyunk
                képesek. Adjunk magunknak időt – ez a legfontosabb! Én csupán segítek, de a többi rajtad áll: a te erőfeszítéseiden
                és akaratodon múlik, hogy meg akarod-e érteni és változtatni önmagad.</p>
            <Note>
                <p>Az önismereti coaching, illetve a színtolmácsolás nem minősül egészségügyi szakképesítéshez kötött
                    pszichoterápiás gyakorlatnak, terápiás tanácsadásnak, gyógyító vagy természetgyógyászati tevékenységnek.</p>
            </Note>
        </NormalBlock>
        <NormalBlock title="Mennyi ideig tart?" bgClass="bg-pic-scarves">
            <p class="mb-3 md:mb-6">A színtolmácsolás időtartama: <strong>90 perc</strong></p>
        </NormalBlock>
        <NormalBlock title="Mennyibe kerül?">
            <p class="mb-3 md:mb-6">A színtolmácsolás díja: <strong>50 GBP</strong></p>
            <p class="mb-3 md:mb-6">Ha <a class="underline" href={link}>színtanácsadással</a> együtt kéred, akkor a szivárvány csomag díja: <strong>165 GBP</strong></p>
            <div class="mb-3 md:mb-6">
                <Note>
                    <p>A feltüntetett árak angol fontban (GBP) értendőek. Magyar forintban (HUF) történő fizetéskor a pontos összeget a
                        Brit Adóhatóság (HMRC) által megállapított és közzétett átváltási ráta alapján számolom ki, amely
                        <a class="underline" href="https://www.trade-tariff.service.gov.uk/exchange_rates" target="_blank">ezen a linken</a> érhető el.</p>
                </Note>
            </div>
        </NormalBlock>
        <NormalBlock title="Mit tartalmaz az ár?" bgClass="bg-pic-frames">
            <ul class="list-image-checkmark-sm md:list-image-checkmark-md list-outside relative left-4 md:left-5 mb-3 md:mb-6">
                <li>Őszinte, tiszta képet önmagadról.</li>
                <li>Iránymutatást és megerősítést a jelenlegi élethelyzeteddel kapcsolatban.</li>
                <li>Útmutatást, hogyan építheted be a támogató színeidet a mindennapjaidba.</li>
                <li>Ítélkezésmentes, támogató környezetet.</li>
                <li>Mély felismeréseket és "hűha" élményeket.</li>
            </ul>
        </NormalBlock>
        <NormalBlock title="Hogyan tudok időpontot kérni?">
            <div class="mb-3 md:mb-6">
                <p>Színtolmácsolásra bejelentkezhetsz akár <strong>online</strong> vagy <strong>személyesen (Southampton, Egyesült Királyság)</strong>.
                    Ha szeretnél jönni, vedd fel velem a kapcsolatot az alábbi elérhetőségek egyikén:</p>
                <div class="flex flex-rows relative left-4 md:left-8 mt-2">
                    <svg class="size-6 md:size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1">
                        <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"></path>
                        <path d="M3 7l9 6l9 -6"></path>
                    </svg>
                    <span class="ml-2"><a href="mailto:anikobolyos89@gmail.com">anikobolyos89@gmail.com</a></span>
                </div>
                <div class="flex flex-rows relative left-4 md:left-8 mt-2">
                    <svg class="size-6 md:size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1">
                        <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path>
                    </svg>
                    <span class="ml-2">+44 785 797 8600</span>
                </div>
            </div>
        </NormalBlock>
        <NormalBlock title="Vendégeim visszajelzései" bgClass="bg-pic-paint">
            <div class="mx-auto max-w-[80%]">
                <Card author="Szilágyi Anna">
                    2020 óta járok Anikóhoz, azóta több nehéz időszakon segített át és adott "útbaigazítást". Anikó személyisége elképesztően kedves, nyitott és befogadó, nagyon hamar megtaláltuk a közös hangot. Tudom, hogy bizalommal fordulhatok hozzá bármikor és soha nem éreztem magam kényelmetlenül, Anikó erről mindig gondoskodik. Tiszta szívből csak ajánlani tudom Anikót, nekem hihetetlenül sokat segített.
                </Card>
                <Card author="Bacskay Csilla Georgina">
                    Az önismereti munka nem fáklyás menet, nem karneváli hangulat, hanem komoly szembenézés magunkkal. És ebben Anikó csupaszív lénye és a tudása óriási segítség. Segítség a beszélgetés és az elemzésemről átküldött írásos anyag is. Minden szóban érzem Anikó színek és a módszere iránti szenvedélyét. Magával ragadó volt az a kb. 2 óra, és ugyanazt az energiát érzem az azóta többször átolvasott írásos anyagból is. Úgy érzem, lesz még ilyen beszélgetésünk később, mert ez a színezés az akkori, jelenlegi lelkiállapotom, intuícióm alapján készült. Kíváncsi vagyok, hogy egy másik időpontban, élethelyzetben mit mutatnak majd rólam a színeim. Remélem, felkeltettem az érdeklődését sokaknak, akik az élménybeszámolómat olvasták. 🤩 Ha az önismereti úton szeretnéd a színeket is segítségül hívni, teljes szívemből ajánlom, hogy keressétek Anikót a Lélekszínező oldalon keresztül!🌈
                </Card>
                <Card author="Kuti-Katona Szilvia">
                    Bármilyen kérdéssel vagy kisebb-nagyobb problémával bizalommal lehet Anikóhoz fordulni. Ha szeretnék valamit tisztán látni vagy elbizonytalanodom valamiben, akkor segít rávezetni a helyes útra. Tanácsai nekem mindig sokat segítettek. Célja mások segítése, ami látszik is, hiszen szívvel-lélekkel csinálja. Kívánom, hogy maradj ilyen és sok örömöt találj ebben a hivatásban! Nagyon drukkolok a további sikereidhez. ❤️
                </Card>
                <Card author="Sándorné Kovács Tünde">
                    Anikó maga a szeretet, az energia ❤️<br/>
                    <br/>
                    Csodálatos hölgy elképesztő tudással!<br/>
                    <br/>
                    Ha szeretnál többet megtudni magadról, vagy csak úgy érzed rossz úton haladsz, mindenkèpp meg kell keresned őt, mert ő az, aki tud segíteni! ❤️❤️❤️
                </Card>
            </div>
        </NormalBlock>
    </article>
</Base>
