---
import Base from "../../layouts/base.astro";
import LandingBlock from "../../components/landing_block.astro";
import ImageCreditsList from "../../components/image_credits_list.astro";

const metadata = {
    title: "Készítők és felhasznált források",
    description: "Tekintsd meg, kik és milyen források járultak hozzá a weboldal elkészítéséhez. Képek és egyéb tartalmak forrásai.",
    type: "article",
};
---

<Base metadata={metadata}>
    <article>
        <LandingBlock title="Programozás és dizájn">
            <p><a class="underline" href="https://milonoir.github.io" target="_blank">Boleradszki Milán</a></p>
        </LandingBlock>
        <LandingBlock title="Képek">
            <p>Az oldalon felhasznált képeket <a class="underline" href="https://www.instagram.com/domgelanyi/" target="_blank">Gelányi Dominik</a> és Boleradszki Milán készítette.</p>
        </LandingBlock>
        <LandingBlock title="Háttérképek">
            <ImageCreditsList />
        </LandingBlock>
    </article>
</Base>
