---
import Base from "../../layouts/base.astro";
import NormalBlock from "../../components/normal_block.astro";
---

<Base>
    <article>
        <h2 class="py-4 md:py-6 font-lora text-xl md:text-4xl text-center">Adatkezelési tájékoztató</h2>
        <NormalBlock title="Utoljára frissítve: 2024. december 1.">
            <p class="mb-3 md:mb-6">Tájékoztatom, hogy személyes adatait önkéntesen bocsátja rendelkezésemre, ezért kérem, hogy közlésekor fokozottan ügyeljen azok valódiságára, helyességére és pontosságára, mivel a helytelen, pontatlan vagy hiányos adat akadálya lehet a szolgáltatás hatékonyságának.</p>
            <p class="mb-3 md:mb-6">Coaching formájában nyújtott szolgáltatásaimon - melyet, online vagy személyes konzultáció szerint bonyolítok - Ön saját elhatározásból vesz részt.</p>
            <p class="mb-3 md:mb-6">Az önismereti coaching spirituális technikával - elakadások, döntéshelyzetek, elbizonytalanodások felismerése - történik, numerológia illetve színtolmácsolás segtségével.</p>
            <p class="">A coaching megkezdésekor rögzített személyes adatok:</p>
            <ul class="list-outside list-disc relative left-4 md:left-5 mb-3 md:mb-6">
                <li>Név</li>
                <li>Születési név</li>
                <li>Születési dátum</li>
                <li>Lakcím</li>
                <li>E-mail</li>
                <li>Telefonszám</li>
                <li>Kapcsolattartásra használt online profil</li>
                <li>Számlázási cím</li>
            </ul>
            <p class="mb-3 md:mb-6">Színtolmácsoláskor, úgynevezett színezési adatot használok (kör, 12 körcikkre osztva), mely csak 12 RGB színkódot tartalmaz vesszővel elválasztva. A színező applikáció, a színezési adatot továbbítja részemre, melyet Ön gombnyomással generál.</p>
            <p class="mb-3 md:mb-6">Azzal, hogy Ön önként elküldi a személyes adatait, beleegyezik azok felhasználásába.</p>
            <p class="mb-3 md:mb-6">Az önismereti coaching, illetve a színtolmácsolás nem minősül egészségügyi szakképesítéshez kötött pszichoterápiás gyakorlatnak, terápiás tanácsadásnak, gyógyító vagy természetgyógyászati tevékenységnek, így különleges adatok kezelésére nem kerül sor.</p>
            <p class="mb-3 md:mb-6">Tájékoztatom, hogy minden konzultáció különálló, egyszeri alkalom. Adatkezelői oldalon sem videó-, sem hangfelvétel, sem jegyzet nem készül, ellenben Ön készíthet saját részre jegyzetet, melynek készítéséhez hozzájárulok. Amennyiben Ön visszatérő Vendég, akkor is a jelenlegi - épp aktuális - helyzetből indulunk ki a konzultáció során.</p>
            <p class="mb-3 md:mb-6">Numerológiánál, offline szoftverbe vezetem fel az Ön személyes adatait, és a program által kiadott számítások alapján kezdődik a coaching, majd a konzultációt követően törlöm az Ön adatait a szoftverből.</p>
            <p class="mb-3 md:mb-6">Színtolmácsolás során a konzultációt megelőző három nappal küldöm Önnek a színező applikáció linkjét azzal, hogy megkérem végezze el a színezést, és a program által generált kódot juttassa el részemre, az Ön által megadott és preferált online elérhetőségen. Miután megkaptam az Ön által megküldött kódot, azt feltöltöm egy applikációba, ami kirajzolja számomra, hogy Ön hogyan, milyen sorrendben állította elő a sablont. Ez a kód lesz segítségemre színtolmácsoláskor, melyek alapján egy elemzést készítek Önről. Az elemzést Google Drive-on tárolom, a konzultációt követően törlöm.</p>
            <p class="mb-3 md:mb-6">Adatait a konzultációt követően kizárólag jogi kötelezettségeim teljesítéséhez (számlázás) szükséges ideig tárolom.</p>
            <p class="">Tájékoztatom, hogy a személyes adataihoz kapcsolódóan megilleti a</p>
            <ul class="list-outside list-disc relative left-4 md:left-5 mb-3 md:mb-6">
                <li>tájékoztatáshoz való jog (a kezelt adatok köréről);</li>
                <li>hozzáférési jog (adatok megismerése, az a tény, hogy történik-e adatkezelés);</li>
                <li>helyesbítéshez való jog (amennyiben egy adat elavult vagy helytelen, ennek kiigazítása);</li>
                <li>törlés való jog (kizárólag a hozzájáruláson alapuló adatkezelés esetén);</li>
                <li>az adatkezelés korlátozásához való jog;</li>
                <li>a személyes adatok direkt marketing célokra való használatának megtiltása;</li>
                <li>személyes adatainak harmadik személy szolgáltató számára történő átadása, vagy ennek megtiltása;</li>
                <li>bármely az adatkezelő által kezelt személyes adatról másolat kérése; vagy</li>
                <li>tiltakozás a személyes adat használata ellen.</li>
            </ul>
            <p class="mb-3 md:mb-6">Tájékoztatom, hogy az Ön által megosztott adatokat és információkat bizalmasan kezelem, harmadik személy hozzáférését kizárom. Az adatokat nem továbbítom, direkt célú marketing megkeresést nem folytatok.</p>
            <p class="mb-3 md:mb-6">Továbbá tájékoztatom arról is, hogy a coaching-hoz történő hozzájárulását bármikor visszavonhatja, ez esetben a coaching-ot meg kell hogy szakítsuk, személyes adatai ilyen esetben törlésre kerülnek.</p>
            <p class="mb-3 md:mb-6">A coaching-gal kapcsolatos tájékoztatót és hozzájárulásom fontosságát megértettem és tudomásul vettem.</p>
            <p class="mb-3 md:mb-6">Jelen hozzájárulással Ön felelősséget vállal azért, hogy megadott e-mail címről/online elérhetőségről kizárólag Ön vesz igénybe szolgáltatást.</p>
            <p class="mb-3 md:mb-6">Kijelenti, hogy a szolgáltatáshoz kapcsolódó adatvédelmi szabályokat megismerte és elfogadja, továbbá a szolgáltatás teljesítésével összefüggő coaching díjat is megismerte, illetve elfogadja.</p>
            <p class="mb-3 md:mb-6">A személyes adatai kezeléséhez az Európai Parlament és a Tanács 2016. április 27-i (EU) 2016/679 Rendelet (GDPR) 6. cikk (1) bekezdés a) pontja hozzájárul, az Ön hozzájárulása önkéntes, minden feltételtől mentes, bármikor visszavonható.</p>
        </NormalBlock>
    </article>
</Base>
