---
layout: default
---
<div class="container">
  <div class="row justify-content-center">
    <div class="main w-75 p-3">
      <h2>{{ site.t[page.lang].home.greetings }}</h2>
      {{ content }}
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="main w-75 p-3">
      <h4>{{ site.t[page.lang].home.feedback }}</h4>
      <div class="container-fluid g-0">
        {% for fb in page.feedback %}
        {% assign rem = forloop.index | modulo: 2 %}
        {% if rem == 1 %}
        <div class="row justify-content-start py-3">
          <div class="col-10 p-3 feedback">
            <div class="container-fluid g-0">
              <div class="row align-items-center">
                <div>{{ fb.content }}</div>
              </div>
              <div class="row">
                <div class="col feedback-author">&#8212; {{ fb.author }}</div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="row justify-content-end py-3">
          <div class="col-10 p-3 feedback">
            <div class="container-fluid g-0">
              <div class="row align-items-center">
                <div>{{ fb.content }}</div>
              </div>
              <div class="row">
                <div class="col feedback-author">&#8212; {{ fb.author }}</div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>